@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    background-color: lightseagreen;
}

#root {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#calculator {
    padding: 10px;
    background-color: slategrey;
}


#display {
    font-family: 'Orbitron', sans-serif;
    max-width: 310px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: right;
    background-color: lightsteelblue;
    overflow: hidden;
}

#display-align {
    float: right;
}


#key-pad {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 80px);
}

button {
    font-size: 1em;
    background-color: lightgrey;
}

#clear {
    background-color: red;
    color: white;
    grid-column: 1 / 3;
}

#equals {
    grid-row: 4 / 6;
    grid-column: 4 / 5;
}

#zero {
    grid-column: 1 / 3;
}

#equals {
    background-color: forestgreen;
    color: white
}